{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}

{% block content %}
<!-- main -->
<main class="profile-user-page default">
    <div class="container">
        <div class="row">
            <div class="profile-page col-xl-9 col-lg-8 col-md-12 order-2">
                <div class="row">
                    <div class="col-12">

                        {% if messages %}
                        <ul class="messages">
                            {% for msg in messages %}
                            <li class="{{ msg.tags }}">{{ msg }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                        <div class="col-12">
                            <h1 class="title-tab-content">اطلاعات شخصی</h1>
                        </div>
                        <div class="content-section default">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">نام :</span>
                                        {% if request.user.f_name %}
                                        <span>{{ request.user.f_name }}</span>
                                        {% else %}
                                        <span>--</span>
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">نام خانوادگی :</span>
                                        {% if request.user.l_name %}
                                        <span>{{ request.user.l_name }}</span>
                                        {% else %}
                                        <span>--</span>
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">شماره تلفن همراه :</span>
                                        <span>{{ request.user.phone }}</span>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">پست الکترونیک :</span>
                                        {% if request.user.email %}
                                        <span>{{ request.user.email }}</span>
                                        {% else %}
                                        <span>--</span>
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">تاریخ تولد :</span>
                                        {% if request.user.birth_day %}
                                        <span>{{ request.user.birth_day|to_jalali:'%Y/%m/%d' }}</span>
                                        {% else %}
                                        <span>--</span>
                                        {% endif %}

                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>
                                        <span class="title">شماره کارت :</span>
                                        {% if request.user.card_number %}
                                        <span>{{ request.user.card_number }}</span>
                                        {% else %}
                                        <span>--</span>
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="col-12 text-center">
                                    <a href="{% url 'profile:profile_edit' %}"
                                       class="btn-link-border form-account-link">
                                        ویرایش اطلاعات شخصی
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            {% include 'profiles/includes/profile_sidebar.html' %}


        </div>
    </div>
</main>
<!-- main -->
{% endblock %}