{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- main -->
<main class="profile-user-page default">
    <div class="container">
        <div class="row">
            <div class="profile-page col-xl-9 col-lg-8 col-md-12 order-2">
                <div class="row">
                    <div class="col-12">
                        <div class="col-12">
                            <h1 class="title-tab-content">ویرایش اطلاعات شخصی</h1>
                        </div>
                        <div class="content-section default">
                            <div class="row">
                                <div class="col-12">
                                    <h1 class="title-tab-content">حساب شخصی</h1>
                                </div>
                            </div>
                            <form class="form-account" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-account-title">نام</div>
                                        <div class="form-account-row">
                                            {{ form.f_name }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-account-title">نام خانوادگی</div>
                                        <div class="form-account-row">
                                            {{ form.l_name }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-account-title">شماره موبایل</div>
                                        <div class="form-account-row">
                                            <input type="email" class="input-field"
                                           placeholder="آدرس ایمیل خود را وارد نمایید"
                                            value="{{ request.user.phone }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-account-title">آدرس ایمیل</div>
                                        <div class="form-account-row">
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-account-title">تاریخ تولد</div>
                                        <div class="form-account-row">
                                            {{ form.birth_day }}
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-account-title">شماره کارت</div>
                                        <div class="form-account-row">
                                            {{ form.card_number }}
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn btn-default btn-lg">ذخیره</button>
                                    <button class="btn btn-default btn-lg">انصراف</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            {% include 'profiles/includes/profile_sidebar.html' %}

        </div>
    </div>
</main>
<!-- main -->
{% endblock %}
