{% load static %}
{% load separator %}

<body class="index-page sidebar-collapse">

<!-- responsive-header -->
<nav class="navbar direction-ltr fixed-top header-responsive">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="{% url 'home:home' %}">
                <img src="{% static 'img/logo.png' %}" height="24px" alt="">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navigation" aria-controls="navigation-index" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
            <div class="search-nav default">
                <form action="" method="get">
                    {{ form_search.search }}
                    <button type="submit"><img src="{% static 'img/search.png' %}" alt=""></button>
                </form>
                <ul>
                    {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'account:login' %}"><i class="now-ui-icons users_single-02"></i></a></li>
                    {% else %}
                    <li><a href="{% url 'profile:profile' %}"><i class="now-ui-icons users_single-02"></i></a></li>
                    {% endif %}
                    <li><a href="{% url 'cart:cart' %}"><i class="now-ui-icons shopping_basket"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <div class="logo-nav-res default text-center">
                <a href="{% url 'home:home' %}">
                    <img src="{% static 'img/logo.png' %}" height="36px" alt="">
                </a>
            </div>
            <ul class="navbar-nav default">
                {% for category in categories %}
                <li class="sub-menu">
                    <a href="{% url 'product:list_category' category.slug %}">{{ category.title }}</a>
                    <ul>
                        {% for sub_category in category.sub_categories.all %}
                        <li class="sub-menu">
                            <a href="{% url 'product:list_sub_category' sub_category.category.slug sub_category.slug %}">
                                {{ sub_category.title }}</a>
                            <ul>
                                {% for subset in sub_category.subsets.all %}
                                <li>
                                    <a href="{% url 'product:list_subset' subset.category.category.slug subset.category.slug subset.slug %}">
                                        {{ subset.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
<!-- responsive-header -->

<div class="wrapper default">

    <!-- header -->
    <header class="main-header default">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-4 col-5">
                    <div class="logo-area default">
                        <a href="{% url 'home:home' %}">
                            <img src="{% static 'img/logo.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5 col-sm-8 col-7">
                    <div class="search-area default">
                        <form action="{% url 'home:search' %}" method="get" class="search">
                            {{ form_search.search }}
                            <button type="submit"><img src="{% static 'img/search.png' %}" alt=""></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    {% if not request.user.is_authenticated %}
                    <div class="user-login dropdown">
                        <a href="" class="btn btn-neutral dropdown-toggle" data-toggle="dropdown"
                           id="navbarDropdownMenuLink1">
                            ورود / ثبت نام
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                            <div class="dropdown-item">
                                <a href="{% url 'account:login' %}" class="btn btn-info">ورود به تاپ کالا</a>
                            </div>
                            <div class="dropdown-item font-weight-bold">
                                <span>کاربر جدید هستید؟</span> <a href="{% url 'account:register' %}" class="register">ثبت‌نام</a>
                            </div>
                        </ul>
                    </div>
                    {% else %}

                    <div style="  top: 14px;" class="user-login dropdown">
                        <a href="{% url 'profile:profile' %}" class="">
                            <i class="fa fa-user" style="font-size: 30px;" aria-hidden="true"></i>
                        </a>
                    </div>

                    {% endif %}
                    <div class="cart dropdown">
                        <a href="" class="btn dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink1">
                            <i class="now-ui-icons shopping_cart-simple"></i>
                            سبد خرید
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                            <div class="basket-header">
                                <div class="basket-total">
                                    <span>مبلغ کل خرید:</span>
                                    <span> {{ cart.get_total_price|separator }}</span>
                                    <span> تومان</span>
                                </div>
                                <a href="{% url 'cart:cart' %}" class="basket-link">
                                    <span>مشاهده سبد خرید</span>
                                    <div class="basket-arrow"></div>
                                </a>
                            </div>
                            <ul class="basket-list">
                                {% for item in cart %}
                                <li>
                                    <a href="{% url 'cart:remove' item.unique_id %}" class="basket-item">
                                        <button class="basket-item-remove"></button>
                                        <div class="basket-item-content">
                                            <div class="basket-item-image">
                                                <img alt="" src="{{ item.product.images.first.image.url }}">
                                            </div>
                                            <div class="basket-item-details">
                                                <div class="basket-item-title">
                                                    {{ item.product.title }}
                                                </div>
                                                <div class="basket-item-params">
                                                    <div class="basket-item-props">
                                                        <span>{{ item.quantity }} عدد</span>
                                                        <span>{{ item.color }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% if cart.get_count_item %}
                            {% if not request.user.is_authenticated %}
                            <a href="{% url 'account:login' %}" class="basket-submit">ورود و ثبت سفارش</a>
                            {% else %}
                            <a href="#" class="basket-submit">ثبت سفارش</a>
                            {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="main-menu">
            <div class="container">
                <ul class="list float-right">
                    {% for category in categories %}
                    <li class="list-item list-item-has-children mega-menu mega-menu-col-5">
                        <a class="nav-link" href="{% url 'product:list_category' category.slug %}">
                            {{ category.title }}</a>
                        <ul class="sub-menu nav">
                            {% for sub_category in category.sub_categories.all %}
                            <li class="list-item list-item-has-children">
                                <i class="now-ui-icons arrows-1_minimal-left"></i>
                                <a class="main-list-item nav-link"
                                   href="{% url 'product:list_sub_category' sub_category.category.slug sub_category.slug %}">
                                    {{ sub_category.title }}</a>
                                <ul class="sub-menu nav">
                                    {% for subset in sub_category.subsets.all %}
                                    <li class="list-item">
                                        <a class="nav-link"
                                           href="{% url 'product:list_subset' subset.category.category.slug subset.category.slug subset.slug %}">
                                            {{ subset.title }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                            <img src="{% static 'img/1636.png' %}" alt="">
                        </ul>
                    </li>
                    {% endfor %}
                    <li class="list-item amazing-item">
                        <a class="nav-link" href="#" target="_blank">شگفت‌انگیزها</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- header -->