{% extends 'base.html' %}
{% load static %}
{% load separator %}


{% block content %}
<!-- main -->
<main class="search-page default">
    <div class="container">
        <div class="row">
            <aside class="sidebar-page col-12 col-sm-12 col-md-4 col-lg-3 order-1">
                <div class="box">
                    <div class="box-header">جستجو در نتایج:</div>
                    <div class="box-content">
                        <div class="ui-input ui-input--quick-search">
                            <form action="{% url 'home:search' %}">
                            <input type="text" name="search" class="ui-input-field ui-input-field--cleanable"
                                   placeholder="نام محصول یا برند مورد نظر را بنویسید…">
                             </form>
                            <span class="ui-input-cleaner"></span>
                        </div>
                    </div>
                </div>


                <div class="box">
                    <div class="box-header">
                        <div class="box-toggle" data-toggle="collapse" href="#collapseExample2" role="button"
                             aria-expanded="true" aria-controls="collapseExample2">
                            برند
                            <i class="now-ui-icons arrows-1_minimal-down"></i>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="collapse show" id="collapseExample2">
                            <div class="filter-option">
                                <div class="checkbox">
                                    <input id="checkbox8" type="checkbox">
                                    <label for="checkbox8">
                                        samsung
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <input id="checkbox9" type="checkbox">
                                    <label for="checkbox9">
                                        apple
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <input id="checkbox10" type="checkbox">
                                    <label for="checkbox10">
                                        xiaomi
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <input id="checkbox11" type="checkbox">
                                    <label for="checkbox11">
                                        nokia
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <input id="checkbox12" type="checkbox">
                                    <label for="checkbox12">
                                        huawei
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


<!--                <div class="box">-->
<!--                    <div class="box-content">-->
<!--                        <form method="get">-->
<!--&lt;!&ndash;                            <input type="checkbox" name="available" class="bootstrap-switch" />&ndash;&gt;-->
<!--                            {{ form.available }}-->
<!--                            <input class="btn btn-dark" style="position: absolute; left:30px;" type="submit" value="اعمال کردن">-->
<!--                        </form>-->
<!--                        <label>فقط کالاهای موجود</label>-->
<!--                    </div>-->
<!--                </div>-->


            </aside>
            <div class="col-12 col-sm-12 col-md-8 col-lg-9 order-2">
                <div class="breadcrumb-section default">
                    <ul class="breadcrumb-list">
                        <li>
                            <a href="#">
                                <span>فروشگاه اینترنتی تاپ کالا</span>
                            </a>
                        </li>
                        <li><span>جستجوی موبایل</span></li>
                    </ul>
                </div>
                <div class="listing default">
                    <div class="listing-counter">{{ count_object }} کالا</div>
                    <div class="listing-header default">
                        <ul class="listing-sort nav nav-tabs justify-content-center" role="tablist"
                            data-label="مرتب‌سازی بر اساس :">


                            <li>
                                <a href="?sort=title" aria-expanded="false">حروف الفبا</a>
                            </li>
                            <li>
                                <a href="?sort=view" aria-expanded="false">پربازدیدترین</a>
                            </li>
                            <li>
                                <a href="?sort=-created" aria-expanded="true">جدیدترین</a>
                            </li>
                            <li>
                                <a href="?sort=-sold" aria-expanded="false">پرفروش‌ترین‌</a>
                            </li>
                            <li>
                                <a href="?sort=price" aria-expanded="false">ارزان‌ترین</a>
                            </li>
                            <li>
                                <a href="?sort=-price" role="tab"
                                   aria-expanded="false">گران‌ترین</a>
                            </li>

                        </ul>
                    </div>
                    <div class="tab-content default text-center">
                        <div class="tab-pane active" id="related" role="tabpanel" aria-expanded="true">
                            <div class="container no-padding-right">
                                <ul class="row listing-items">

                                    {% for object in object_list %}
                                    <li class="col-xl-3 col-lg-4 col-md-6 col-12 no-padding">
                                        <div class="product-box">
                                            <div class="product-seller-details product-seller-details-item-grid">
                                                        <span class="product-main-seller">
                                                            <span class="product-seller-details-label">فروشنده:
                                                            </span>تاپ کالا</span>
                                                <span class="product-seller-details-badge-container"></span>
                                            </div>
                                            <a class="product-box-img" href="{{ object.get_absolute_url }}">
                                                <img src="{{ object.images.first.image.url }}" alt="">
                                            </a>
                                            <div class="product-box-content">
                                                <div class="product-box-content-row">
                                                    <div class="product-box-title">
                                                        <a href="{{ object.get_absolute_url }}">
                                                            {{ object.title }}
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-box-row product-box-row-price">
                                                    <div class="price">
                                                        <div class="price-value">

                                                            {% if object.is_available %}

                                                                        <div class="price-value-wrapper">
                                                                            <small>
                                                                                <del> {{ object.price|separator }} <span
                                                                                        class="price-currency">تومان</span></del>
                                                                            </small>
                                                                        </div>
                                                                {% if object.discount %}
                                                                        <div class="price-value-wrapper text-danger">
                                                                            {{ object.get_price_with_discount|separator }} <span
                                                                                class="price-currency">تومان</span>
                                                                        </div>
                                                                {% endif %}
                                                            {% else %}
                                                                    <div class="price-value-wrapper text-danger">
                                                                        <span class="price-currency">ناموجود</span>
                                                                    </div>
                                                            {% endif %}

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="pager default text-center">
                        <ul class="pager-items">


                            {% if object_list.has_previous or object_list.has_next %}
                            {% if object_list.has_previous %}
                            <li>
                                <a href="?page={{ object_list.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                   id="pager-previous" class="pager-next"></a>
                            </li>
                            <line class="pager-items--partition"></line>
                            {% endif %}

                            {% for num in object_list.paginator.page_range %}
                            <li>
                                {% if num == object_list.number %}
                                <a href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="pager-item is-active">{{ num }}</a>
                                {% else %}
                                <a href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="pager-item">{{ num }}</a>

                                {% endif %}
                            </li>
                            {% endfor %}

                            {% if object_list.has_next %}
                            <line class="pager-items--partition"></line>
                            <li>
                                <a href="?page={{ object_list.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                   class="pager-next"></a>
                            </li>
                            {% endif %}
                            {% endif %}

                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>
</main>
<!-- main -->
{% endblock %}