{% load static %}
{% include 'includes/header_links.html' %}


<body>
<div class="wrapper default">
    <div class="container">
        <div class="row">
            <div class="main-content col-12 col-md-7 col-lg-5 mx-auto">
                <div class="account-box">
                    <a href="#" class="logo">
                        <img src="{% static 'img/logo.png' %}" alt="">
                    </a>
                    <div class="account-box-title">ثبت‌نام در تاپ کالا</div>

                    <div class="account-box-content">
                        <form class="form-account" method="post">
                            {% csrf_token %}
                            <div class="form-account-title">شماره موبایل</div>
                            <div class="form-account-row">
                                <label class="input-label"><i class="now-ui-icons users_single-02"></i></label>


                                {{ form.phone }}
                                <div class="text-danger">
                                    <ul>
                                        <li>{{ form.phone.errors }}</li>
                                    </ul>
                                </div>


                            </div>
                            <div class="form-account-title">کلمه عبور</div>
                            <div class="form-account-row">
                                <label class="input-label">
                                    <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                </label>

                                {{ form.password }}
                                <div class="text-danger">
                                    <ul>
                                        <li>{{ form.password.errors }}</li>
                                    </ul>
                                </div>


                            </div>
                            <div class="form-account-title">تایید کلمه عبور</div>
                            <div class="form-account-row">
                                <label class="input-label">
                                    <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                </label>

                                {{ form.password2 }}
                                <div class="text-danger">
                                    <ul>
                                        <li>{{ form.password2.errors }}</li>
                                    </ul>
                                </div>


                            </div>

                            <div class="form-account-agree">
                                <label class="checkbox-form checkbox-primary">
                                    <input type="checkbox" checked="checked">
                                    <span class="checkbox-check"></span>
                                </label>
                                <label for="agree">
                                    <a href="#" class="btn-link-border">حریم خصوصی</a> و
                                    <a href="#" class="btn-link-border">
                                        شرایط و قوانین</a> استفاده از سرویس های سایت
                                    تاپ کالا را مطالعه نموده و با کلیه موارد آن موافقم.
                                </label>
                            </div>
                            <div class="form-account-row form-account-submit">
                                <div class="parent-btn">
                                    <button class="dk-btn dk-btn-info">
                                        ثبت نام در تاپ کالا
                                        <i class="now-ui-icons users_circle-08"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="account-box-footer">
                        <span>قبلا در تاپ کالا ثبت‌نام کرده‌اید؟</span>
                        <a href="{% url 'account:login' %}" class="btn-link-border">وارد شوید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="mini-footer">
        <nav>
            <div class="container">
                <ul class="menu">
                    <li>
                        <a href="#">درباره تاپ کالا</a>
                    </li>
                    <li>
                        <a href="#">فرصت‌های شغلی</a>
                    </li>
                    <li>
                        <a href="#">تماس با ما</a>
                    </li>
                    <li>
                        <a href="#">همکاری با سازمان‌ها</a>
                    </li>

                </ul>
            </div>
        </nav>
        <div class="copyright-bar">
            <div class="container">
                <p>
                    استفاده از مطالب فروشگاه اینترنتی تاپ کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است.
                    کلیه حقوق این سایت متعلق
                    به شرکت نوآوران فن آوازه (فروشگاه آنلاین تاپ کالا) می‌باشد.
                </p>
            </div>
        </div>
    </footer>
</div>


{% include 'includes/footer_links.html' %}
