{% load static %}
{% include 'includes/header_links.html' %}

<body>
<div class="wrapper default">
    <div class="container">
        <div class="row">
            <div class="main-content col-12 col-md-7 col-lg-5 mx-auto">
                <div class="account-box">
                    <a href="#" class="logo">
                        <img src="{% static 'img/logo.png' %}" alt="">
                    </a>
                    <div class="account-box-title text-center">تایید  حساب</div>

                    <div class="account-box-content">
                        <form class="form-account" method="post">
                            {% csrf_token %}
                            <div class="form-account-title">کد تایید</div>
                            <div class="form-account-row">
                                <label class="input-label">
                                    <i class="now-ui-icons users_single-02"></i>
                                </label>

                                {{ form.code }}

                                <div class="text-danger">
                                    <ul>
                                        <li>{{ form.code.errors }}</li>
                                    </ul>
                                </div>

                            </div>

                            <div class="form-account-row form-account-submit">
                                <div class="parent-btn">
                                    <button class="dk-btn dk-btn-info">
                                        تایید
                                        <i class="fa fa-sign-in"></i>
                                    </button>
                                </div>
                            </div>


                            <div class="account-box-footer">
                                <span>کد را دریافت نکردید ؟</span>
                                <a href="{% url 'account:send_otp' %}" class="btn-link-border">ارسال ذوباره کد</a>
                            </div>


                        </form>
                    </div>
                    <div class="account-box-footer">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="mini-footer">
        <nav>
            <div class="container">
                <ul class="menu">
                    <li>
                        <a href="#">درباره تاپ کالا</a>
                    </li>
                    <li>
                        <a href="#">فرصت‌های شغلی</a>
                    </li>
                    <li>
                        <a href="#">تماس با ما</a>
                    </li>
                    <li>
                        <a href="#">همکاری با سازمان‌ها</a>
                    </li>

                </ul>
            </div>
        </nav>
        <div class="copyright-bar">
            <div class="container">
                <p>
                    استفاده از مطالب فروشگاه اینترنتی تاپ کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است.
                    کلیه حقوق این سایت متعلق
                    به شرکت نوآوران فن آوازه (فروشگاه آنلاین تاپ کالا) می‌باشد.
                </p>
            </div>
        </div>
    </footer>
</div>

{% include 'includes/footer_links.html' %}

